@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: #0ea5e9;
    --secondary-color: #eab308;
    --background-gray: #eeeeee;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 5fr;
    grid-template-columns: 1fr 4fr;
}

.header {
    grid-row: 1;
    grid-column: 2 / -1;

    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 12px;
    padding-top: 0px;
}

.top {
    grid-row: 1;

    display: flex;
    align-items: center;
    gap: 8px;    
}

#search {
    flex-grow: 1;
    height: min-content;
    padding: 8px;
    border: none;
    border-radius: 25px;
    background-color: var(--background-gray);
}

.bottom {
    grid-row: 2;

    display: flex;
    justify-content: space-between;
}

.greeting {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr; 
}

.greeting > img {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}

.greeting > p {
    grid-row: 1;
    grid-column: 2;
    justify-self: start;
    align-self: end;

    margin: 0;
}

.greeting > h2 {
    grid-row: 2;
    grid-column: 2;
    
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    border-radius: 25px;
    border: none;
    width: 75px;
}

.sidebar {
    grid-row: 1 / -1;
    grid-column: 1;
    
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 12px;
    color: white;
    background-color: var(--primary-color);
}

.page-logo {
    display: flex;
    justify-content: flex-start;
    gap: 4px;

    height: min-content;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;

    height: min-content;
}

.content {
    grid-row: 2 / -1;
    grid-column: 2 / -1;

    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: 2fr 1fr;
    gap: 24px;

    color: black;
    background-color: var(--background-gray);
    padding: 16px;
}

.projects-cell {
    grid-row: 1 / -1;
    grid-column: 1 / 2;

    display: flex;
    flex-direction: column;
}

.project-cards {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 4px;

    padding: 8px;
    height: 200px;

    border-left: 8px solid var(--secondary-color);
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 2px 1px #e1e1e1
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.announcements-cell {
    grid-row: 1 / 2;
    grid-column: 2 / -1;

    display: flex;
    flex-direction: column;
}

.announcement-cards {
    display: grid;
    grid-row: repeat(3, 1fr);
    gap: 16px;

    padding: 16px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #e1e1e1;
}

.announcement-card {
    display: flex;
    flex-direction: column;
    gap: 4px;

    padding: 8px;
}

.announcement-card > h5 {
    margin: 0;
}

.trending-cell {
    grid-row: 2 / -1;
    grid-column: 2 / -1;

    display: flex;
    flex-direction: column;
}

.trending-cards {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    justify-items: center;

    padding: 16px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #e1e1e1;
}

.trending-card {
    display: flex;
    gap: 16px;

    padding: 8px;
}

.user {
    display: flex;
    flex-direction: column;
}

.user > p {
    margin: 0;
}